kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    apiVersion: kubeadm.k8s.io/v1beta2
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
        authorization-mode: "AlwaysAllow"
  image: kindest/node:v1.14.3
  extraPortMappings:
  - containerPort: 30040 # postgres
    hostPort: 30040
  - containerPort: 30045 # nginx
    hostPort: 30045
