apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: repositorie-data
  namespace: repositorie
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi